/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
button,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*          MAIN          */
/*          COLORS          */
/*          HOVER           */
body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

.main-title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #232233;
  text-align: center;
}

.main-descr {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: #6c6c72;
}

/*          COMPONENTS          */
.header {
  padding-top: 40px;
  padding-bottom: 120px;
  background-image: url(../images/header-bg-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .header {
    background-image: url(../images/header-bg-2x-min.jpg);
  }
}
.header-top {
  display: none;
}
.header-burger-btn {
  width: 18px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: transparent;
}
.header-burger-btn span {
  width: 100%;
  height: 2px;
  background-color: #232233;
}
.header-burger {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
  padding: 25px 25px 40px 40px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  transition: visibility 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-burger-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
.header-burger-btn {
  width: 18px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background-color: transparent;
}
.header-burger-btn span {
  width: 100%;
  height: 2px;
  background-color: #232233;
}
.header-burger-close {
  width: 35px;
  height: 35px;
  background-color: #5956e9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 70px;
}
.header-burger-close-icon {
  fill: #ffffff;
}
.header-burger-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: auto;
}
.header-burger-item {
  opacity: 0;
  transform: translateY(-20%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-burger-item-active {
  opacity: 1;
  transform: translateY(0);
}
.header-burger-link {
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #232233;
  transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-burger-link:hover {
  color: #5956e9;
}
.header-burger-social {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-burger-social-item {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-burger-social-item-active {
  opacity: 1;
  transform: translateY(0);
}
.header-nav {
  margin-bottom: 130px;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 3px 3px 3px 9px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-list {
  display: none;
}
.header-nav-logo {
  padding: 24px 11px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-nav-logo img {
  max-width: 69px;
}
.header-nav-btn {
  padding: 6px 12px;
  background-color: #5956e9;
  border-radius: 3px;
  font-weight: 600;
  font-size: 10px;
  color: #ffffff;
}

.hero-content {
  position: relative;
  margin-bottom: 60px;
  max-width: 323px;
  padding: 30px 12px 20px 18px;
  z-index: 5;
}
.hero-content::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #ffffff;
  z-index: -1;
}
@media screen and (max-width: 374px) {
  .hero-content {
    margin: 0 auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 375px) {
  .hero-content::after {
    position: absolute;
    top: 50%;
    transform: translate(1%, -50%);
    content: "";
    width: 100%;
    height: 110%;
    border: 10px solid #7572ff;
    z-index: -2;
  }
}
.hero-content-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #5956e9;
}
.hero-content-descr {
  margin-bottom: 30px;
  color: #6c6c72;
}
.hero-content-subtitle {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}
.hero-content-list {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about {
  padding-top: 60px;
  padding-bottom: 92px;
}
.about-descr {
  margin-bottom: 40px;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-list-item {
  padding: 20px 20px 20px 61px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.about-list-title {
  margin-bottom: 3px;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  color: #232233;
  text-transform: uppercase;
}
.about-list-title::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-60%);
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/svg/about-icon.svg);
}
.about-list-descr {
  color: #6c6c72;
}
.about-content-img {
  margin-bottom: 40px;
}

.features {
  padding: 60px 0;
  background-image: url(../images/features-bg-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .features {
    background-image: url(../images/features-bg-2x-min.jpg);
  }
}
.features-title {
  color: #ffffff;
}
.features-descr {
  margin-bottom: 32px;
  color: #ffffff;
}
.features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.features-content-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.features-item-icon {
  display: block;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .features-item-icon {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.features-item-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .features-item-title {
    text-align: center;
  }
}
.features-item-descr {
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .features-item-descr {
    text-align: center;
  }
}
.features-img {
  border-radius: 40px;
  box-shadow: 40px 40px 100px 0 rgba(24, 48, 63, 0.5);
}

.app {
  padding: 60px 0;
}
.app-descr {
  margin-bottom: 50px;
}
.app .swiper {
  width: 100%;
}
.app .swiper-slide {
  display: flex;
  justify-content: center;
}
.app .swiper-slide-shadow {
  background-color: transparent;
}
.app .swiper-slide img {
  height: 444px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1175px) {
  .app .swiper-button-prev, .app .swiper-button-next {
    display: none;
  }
}
.app .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.download {
  padding-bottom: 75px;
}
.download-title {
  text-align: left;
}
.download-descr {
  text-align: left;
  margin-left: 0;
  margin-bottom: 40px;
}
.download-social {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.download-stats {
  margin-bottom: 60px;
  display: flex;
  gap: 18px;
}
.download-stats-item {
  width: calc((100% - 36px) / 3);
  padding: 12px 3px;
  background-color: #5956e9;
  border-radius: 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.download-stats-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
}
.download-stats-number {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}
.download-stats-name {
  text-align: center;
  color: #ffffff;
}

.video {
  padding-top: 60px;
  padding-bottom: 115px;
  position: relative;
  background-image: url(../images/video-bg-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .video {
    background-image: url(../images/video-bg-2x-min.jpg);
  }
}
.video-title {
  margin-bottom: 40px;
  color: #ffffff;
}
.video-descr {
  color: #ffffff;
}
.video-wrap {
  max-width: 400px;
  width: 100%;
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.video-wrap-img {
  width: 100%;
  border-radius: 5px;
}
.video-wrap-play {
  width: 70px;
  height: 70px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.7), 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.video-wrap-play:hover {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.7);
}
.video-wrap-play-icon {
  fill: #5956e9;
}

.team {
  padding-top: 135px;
  padding-bottom: 60px;
}
.team-descr {
  margin-bottom: 40px;
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.team-list-item {
  padding: 30px 8px 55px 8px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.team-list-photo {
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 50%;
  padding: 5px;
  border: 3px solid #5956e9;
}
.team-list-title {
  text-align: center;
  font-weight: 700;
  font-size: 31px;
  line-height: 1.512;
  color: #232233;
  text-transform: uppercase;
}
.team-list-subtitle {
  margin-bottom: 14px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #6c6c72;
  text-transform: uppercase;
}
.team-list-descr {
  margin-bottom: 40px;
  text-align: center;
  color: #6c6c72;
}
.team-list-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.team-list-soc-item {
  position: relative;
}
.team-list-soc-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -100%;
  transform: translate(-100%, -60%);
  width: 1px;
  height: 100%;
  opacity: 0.5;
  background-color: #6c6c72;
}
.team-list-soc-icon {
  transition: fill 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-soc-link:hover .team-list-soc-icon {
  fill: #6c6c72;
}

.our {
  padding: 60px 0;
  background-image: url(../images/our-bg-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .our {
    background-image: url(../images/our-bg-2x-min.jpg);
  }
}
.our-title, .our-descr {
  color: #ffffff;
}
.our-descr {
  margin-bottom: 32px;
}
.our .swiper {
  width: 100%;
}
@media screen and (max-width: 1175px) {
  .our .swiper-button-prev, .our .swiper-button-next {
    display: none;
  }
}
.our .swiper-slide {
  padding: 10px;
  margin-bottom: 50px;
}
.our .swiper-slide-wrap {
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
}
.our .swiper-slide-img {
  margin: 0 auto;
  margin-bottom: 12px;
}
.our .swiper-slide-title {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #232233;
  text-transform: uppercase;
}
.our .swiper-slide-subtitle {
  margin-bottom: 18px;
  text-align: center;
  color: #232233;
}
.our .swiper-slide-descr {
  text-align: center;
  color: #6c6c72;
}
.our .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.6862745098);
}
.our .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.blog {
  position: relative;
  padding-top: 60px;
  padding-bottom: 210px;
}
.blog-descr {
  margin-bottom: 40px;
}
.blog-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.blog-list-item {
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.blog-list-content {
  padding: 30px 10px;
}
.blog-list-title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 20px;
  color: #232233;
  text-transform: uppercase;
}
.blog-list-descr {
  margin-bottom: 20px;
  color: #6c6c72;
}
.blog-list-link {
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
  color: #5956e9;
}
.blog-list-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #5956e9;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.blog-list-link:hover::after {
  width: 0;
}
.blog-contacts {
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #232233;
  z-index: 100;
}
.blog-contacts-item:not(:last-child) {
  position: relative;
  padding-bottom: 20px;
}
.blog-contacts-item:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 117px;
  height: 4px;
  background-color: #232233;
}
.blog-contacts-icon-wrap {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #5956e9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-contacts-descr {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: #232233;
  text-transform: uppercase;
}
@media screen and (max-width: 374px) {
  .blog-contacts-descr {
    font-size: 16px;
  }
}

.footer {
  padding-top: 220px;
  padding-bottom: 60px;
  background-color: #232233;
}
.footer-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-logo {
  font-weight: 700;
  font-size: 31px;
  color: #ffffff;
  line-height: 1.512;
  text-transform: uppercase;
}
.footer-descr {
  margin-bottom: 38px;
  color: #ffffff;
}
.footer-title {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-list-link {
  color: #ffffff;
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list-link:hover {
  opacity: 0.5;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 68px;
}
.footer-social-item {
  position: relative;
}
.footer-social-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -200%;
  transform: translate(-200%, -70%);
  width: 1px;
  height: 70%;
  background-color: #ffffff;
}
.footer-social-link-icon {
  fill: #ffffff;
  transition: fill 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link-icon:hover {
  fill: #5956e9;
}
.footer-mail-descr {
  margin-bottom: 33px;
  color: #ffffff;
}
.footer-form-input-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 2px 2px 2px 17px;
}
.footer-form-input {
  margin-right: 10px;
  outline: none;
  border: none;
  width: 100%;
}
.footer-form-btn {
  width: 48px;
  height: 100%;
  background-color: #5956e9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}