.team {
	padding-top: 135px;
	padding-bottom: 60px;

	&-descr {
		margin-bottom: 40px;
	}

	&-list {
		display: flex;
		flex-direction: column;
		gap: 30px;

		&-item {
			padding: 30px 8px 55px 8px;
			background-color: $light-color;
			border-radius: 10px;
			box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
		}

		&-photo {
			margin: 0 auto;
			margin-bottom: 50px;
			border-radius: 50%;
			padding: 5px;
			border: 3px solid $blue-color;
		}

		&-title {
			text-align: center;
			font-weight: 700;
			font-size: 31px;
			line-height: 1.512;
			color: $dark-color;
			text-transform: uppercase;
		}

		&-subtitle {
			margin-bottom: 14px;
			text-align: center;
			font-weight: 600;
			font-size: 20px;
			color: $grey-color;
			text-transform: uppercase;
		}

		&-descr {
			margin-bottom: 40px;
			text-align: center;
			color: $grey-color;
		}

		&-soc {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;

			&-item {
				position: relative;

				&:not(:last-child) {
					&::after {
						content: '';
						position: absolute;
						top: 50%;
						right: -100%;
						transform: translate(-100%, -60%);
						width: 1px;
						height: 100%;
						opacity: 0.5;
						background-color: $grey-color;
					}
				}
			}

			&-icon {
				transition: fill 0.2s $hover-effect;
			}

			&-link {
				&:hover .team-list-soc-icon {
					fill: $grey-color;
				}
			}
		}
	}
}
