body {
	font-family: $main-font;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	background-color: $light-color;
}

.container {
	max-width: 375px;
	padding: 0 16px;
	margin: 0 auto;
}

.main-title {
	margin-bottom: 18px;
	font-weight: 700;
	font-size: 25px;
	line-height: 1.5;
	text-transform: uppercase;
	color: $dark-color;
	text-align: center;
}

.main-descr {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
	color: $grey-color;
}
