/*          MAIN          */
$main-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Work Sans', sans-serif;

/*          COLORS          */
$light-color: #ffffff;
$dark-color: #232233;
$blue-color: #5956e9;
$grey-color: #6c6c72;
